Общее пояснение: данный файл содержит результаты ручной разметки текстов; одна строка = результаты работы одного ассесора по одному тексту; тексты повторяются, но их оценки уникальны. Конечная задача: обучить классификатор (в тесте не ставится)
Вкладка «куда вставлять» содержит файл, в котором неправильно заполнены столбцы с X по AD (отношение … опасный). Вкладка «что вставлять» содержит правильные значения этих столбцов. Неправильные значения надо заменить на правильные. Однако есть ряд проблем.

### Проблема 1.
Каждая строка вкладки "куда вставлять" имеет идентификационный номер, но номера повторяются. Если они повторяются, строки различаются по столбцу «логин». Во вкладке с правильными значениями столбцов X-AD ("что вставлять") сохранены IDs, но не сохранены значения столбца «логин». Таким образом, соотнести однозначно строки вкладки «что вставлять» и сторки вкладки «куда вставлять» невозможно. Надо брать ID из вкладки «что вставлять», искать его первое попавшееся упоминание во вкладке «куда вставлять» и, собственно, вставлять. Затем нужно взять во вкладке «что вставлять» следующую строку  с тем же ID и найти во вкладке «куда вставлять» СЛЕДУЮЩЕЕ (но не то же самое!) упоминание этого ID. Важно не запихать второй раз правильные значения в ту строку вкладки «куда вставлять», которую уже один раз заменили. А то в одной строке значения поменяем дважды, а в другой – ни разу.


### Проблема 2. 
Во вкладке «что вставлять» явно есть лишние данные, т.к. там почти в два раза больше строк. Те строки из вкладки «что вставлять», которые окажутся не востребованными и никуда не вставятся, записать в отдельный файл.


### Проблема 3. 
не исключено, если во вкладке «что вставлять» будет не хватать строк, которые есть во вкладке «что вставлять». Такой нехватки может и не быть. Но если все же во вкладке «куда вставлять» останутся строки, в которых ни разу не были заменены столбцы X-AD, такие строки надо сохранить в третий файл.


### NB:
обратите внимание, во вкладке "куда вставлять" столбцы не имеют уникальных заголовков. Так, заголовки "отношение", "опасный" и т.д. повторяются. Нас интересуют именно столбцы X-AD. В csv  и других форматах столбцы не будут иметь идентификаторов  типа X и AD, поэтому важно не перепутать между собой столбцы с одинаковыми заголовками. Нас интересует то "отношение", которые самое первое (самый левый из всех столбцов с заголовком "отношение"). Аналогично для других пяти столбцов.
результат представить в формате xls или csv (разделители целой части числа - запятые). Приложить код.

In [116]:
import pandas as pd
import numpy as np

In [159]:
where_all = pd.read_csv('тест датамйнерам.csv', low_memory=False)

In [118]:
#маска определяющаяя где у нас вообще есть id
id_mask = np.logical_not(where_all.id.isnull().values)
print id_mask.sum()


# выделем осмысленную часть датасета
where = where_all.iloc[id_mask]

2029

In [119]:
what = pd.read_csv('тест датамйнерам что.csv', low_memory=False)

Будем ходить двумя указателями, так что нужно, чтобы массивы были отсортированы по индексу. Порядок сортировки довольно специфический, так что функция сравнения своя

In [120]:
def id_compare(id_1, id_2):
    if id_1.isdigit() and id_2.isdigit():
        return int(id_1) <= int(id_2)
    elif id_1.isdigit():
        return True
    elif id_2.isdigit():
        return False
    else:
        return id_1 <= id_2

In [121]:
print all(map(lambda x : id_compare(x[0], x[1]), zip(what.id.values[:-1], what.id.values[1:])))
print all(map(lambda x : id_compare(x[0], x[1]), zip(where.id.values[:-1], where.id.values[1:]) ))

True
True

Оба датасета действительно отсортированы, дальше идем двумя указателями, что куда надо вставляем

In [122]:
i = 0
j = 0

unreplaced_where = pd.DataFrame(columns=where.columns)
unused_what = pd.DataFrame(columns=what.columns)

i_lim = where.shape[0]
j_lim = what.shape[0]

while i < i_lim and j < j_lim: 
    if i % 100 == 0:
        print 'i', i
        #print "j", j
    if where.loc[i, 'id'] == what.loc[j, 'id']:
        where.loc[i, what.columns] = what.iloc[j]
        i += 1
        j += 1
    elif id_compare(where.loc[i, 'id'], what.loc[j, 'id']):
        unreplaced_where.loc[i, where.columns] = where.iloc[i]
        i += 1   
    else:
        unused_what.loc[j, what.columns] = what.iloc[j]
        j += 1

i 0
i 0
i 100
i 200
i 300
i 400
i 400
i 500
i 500
i 500
i 600
i 700
i 800
i 900
i 900
i 900
i 1000
i 1000
i 1100
i 1200
i 1200
i 1300
i 1400
i 1500
i 1500
i 1600
i 1700
i 1700
i 1700
i 1700
i 1800
i 1800
i 1800
i 1800
i 1800
i 1800
i 1800
i 1800
i 1900
i 1900
i 1900
i 2000
i 2000
i 2000

Теперь проверим, дошли ли до конца, или остались строки, которые нужно куда-то сложить

In [124]:
print i, j
print i_lim, j_lim

2029 3344
2029 3344

Все на месте, кроме кусков из "куда вставлять", без id

Посмотрим глазами на то что получилось и сохраним

In [186]:
where.iloc[1000:1004][what.columns]

,id,Обобщение,Отношение,Агрессия,Солидар.,Низ/выс,Жертва?,Опасный?
1000,3314000,2,2,1,1,3,3,1
1001,3314357,2,2,1,1,3,3,1
1002,3317701,2,2,1,1,3,3,1
1003,3318076,2,3,1,1,3,3,1

In [187]:
what.iloc[1270:1284]

,id,Обобщение,Отношение,Агрессия,Солидар.,Низ/выс,Жертва?,Опасный?
1270,3295491,2,2,1,1,3,3,1
1271,3295491,2,2,1,2,3,1,1
1272,3295491,2,3,1,2,3,2,2
1273,3297060,2,3,1,1,3,3,1
1274,3299549,3,2,1,1,3,3,1
1275,3299549,1,3,1,1,3,3,1
1276,3306375,2,3,1,1,3,3,1
1277,3312051,2,2,1,1,3,3,1
1278,3312051,2,2,1,2,3,3,1
1279,3314000,2,2,1,1,3,3,1
1280,3314357,2,2,1,1,3,3,1
1281,3317481,3,2,1,1,3,3,1
1282,3317701,2,2,1,1,3,3,1
1283,3318076,2,3,1,1,3,3,1

In [130]:
unused_what.reset_index(inplace = True)
unused_what.head()

   index     id Обобщение Отношение Агрессия Солидар. Низ/выс Жертва? Опасный?
0      0   2942         3         2        1        1       3       3        1
1     12  55368         2         2        1        1       3       3        1
2     16  58073         2         2        1        1       3       3        1
3     21  62855         1         2        1        2       3       3        1
4     22  62855         1         2        1        1       3       3        1

In [131]:
unreplaced_where

Empty DataFrame
Columns: [id, Время, Этноним, Логин, Понятно?, Этноним.1, Негатив, Позитив, Конфликт, Поз.взаим., Этн., Мигр., Религ., Соц., Полит., Экон., Культ., Быт, Юмор, Ист., Др., Непон., Этноним 1, Обобщение, Отношение, Агрессия, Солидар., Низ/выс, Жертва?, Опасный?, Этноним 2, Обобщение.1, Отношение.1, Агрессия.1, Солидар..1, Низ/выс.1, Жертва?.1, Опасный?.1, Этноним 3, Обобщение.2, Отношение.2, Агрессия.2, Солидар..2, Низ/выс.2, Жертва?.2, Опасный?.2, Этноним 4, Обобщение.3, Отношение.3, Агрессия.3, Солидар..3, Низ/выс.3, Жертва?.3, Опасный?.3, Unnamed: 54, Unnamed: 55, Unnamed: 56, Unnamed: 57, Unnamed: 58, Unnamed: 59, Unnamed: 60, Unnamed: 61, Unnamed: 62, Unnamed: 63, Unnamed: 64, Unnamed: 65, Unnamed: 66, Unnamed: 67, Unnamed: 68, Unnamed: 69, Unnamed: 70, Unnamed: 71, Unnamed: 72, Unnamed: 73, Unnamed: 74, Unnamed: 75, Unnamed: 76, Unnamed: 77, Unnamed: 78, Unnamed: 79, Unnamed: 80, Unnamed: 81, Unnamed: 82, Unnamed: 83]
Index: []

[0 rows x 84 columns]

In [158]:
what.to_csv('what.csv')
where.to_csv('where.csv', float_format='%.0f')
unused_what.to_csv('unused_what.csv')

In [172]:
nn_mask = np.logical_not(where_all.iloc[where_all.id.isnull().values].isnull()).values

In [175]:
pd.DataFrame(where_all.iloc[where_all.id.isnull().values].values[nn_mask]).to_csv('rubish.csv')

___________________
Дальше кусок отладки

In [89]:
where_val = np.array([['1', '2', 'as_111', 'as_12'], [0,0,0,0], [23,6,732,1]]).transpose()
what_val = np.array([['1', '2', '3', 'as_1111', 'as_12', 'as_322'], [1,2,3,4,5,6]]).transpose()

In [90]:
where = pd.DataFrame(where_val, columns=['id', 'val', 'bullshit'])
what = pd.DataFrame(what_val, columns=['id', 'val'])

In [94]:
where

       id val bullshit
0       1   1       23
1       2   2        6
2  as_111   0      732
3   as_12   5        1

In [113]:
what

        id val
0        1   1
1        2   2
2        3   3
3  as_1111   4
4    as_12   5
5   as_322   6

In [101]:
for jj in range(j, what.shape[0]):
    unused_what.loc[j:\, what.columns] = what.iloc[j:]

In [108]:
unused_what

        id val
2        3   3
3  as_1111   4

In [103]:
what.iloc[j:]

       id val
5  as_322   6

In [188]:
what

,id,Обобщение,Отношение,Агрессия,Солидар.,Низ/выс,Жертва?,Опасный?
0,2942,3,2,1,1,3,3,1
1,9333,2,1,1,3,3,3,1
2,9333,3,1,1,3,3,3,1
3,12039,1,3,1,1,3,2,2
4,17208,2,2,1,2,3,3,1
5,19367,2,3,1,1,3,2,2
6,19367,2,3,1,1,1,2,2
7,21635,2,3,1,1,3,3,1
8,21635,1,2,1,1,3,3,2
9,22019,2,2,1,2,3,3,1
10,50023,2,1,1,3,3,3,1
11,55368,2,2,1,2,3,3,1
12,55368,2,2,1,1,3,3,1
13,57451,2,2,1,2,3,3,1
14,57451,2,2,1,2,3,3,1
15,58073,2,1,1,2,3,3,1
16,58073,2,2,1,1,3,3,1
17,61238,2,2,1,1,3,3,1
18,61238,1,2,1,1,3,3,1
19,62040,2,2,1,2,3,1,1
20,62855,1,2,1,1,3,3,1
21,62855,1,2,1,2,3,3,1
22,62855,1,2,1,1,3,3,1
23,65522,2,2,1,1,3,3,1
24,65868,2,2,1,1,3,3,1
25,65868,2,2,1,1,3,3,1
26,65868,2,2,1,2,3,3,1
27,65868,2,3,1,1,1,2,2
28,66425,2,1,1,3,3,3,1
29,81359,2,1,1,3,2,3,1
...,...,...,...,...,...,...,...,...
3314,эстонец_114,2,2,1,2,3,3,1
3315,эстонец_114,2,2,1,2,3,3,1
3316,эстонец_114,2,2,1,2,3,3,1
3317,эстонец_146,3,2,1,1,3,3,1
3318,эстонец_38,3,2,1,1,3,3,1
3319,эстонец_52,3,2,1,1,3,3,1
3320,эстонец_69,3,2,1,1,3,3,1
3321,эстонец_70,3,2,1,1,3,3,1
3322,эстонец_8,3,2,1,1,3,3,1
3323,якут_100,3,2,1,1,3,3,1
3324,якут_105,3,2,1,1,3,3,1
3325,якут_117,2,2,1,2,3,3,1
3326,якут_117,2,3,1,2,3,3,1
3327,якут_117,2,3,1,2,3,3,1
3328,якут_125,3,2,1,1,3,3,1
3329,якут_133,1,2,1,1,3,3,1
3330,якут_133,3,2,1,1,3,3,1
3331,якут_147,2,3,1,2,3,3,1
3332,якут_147,2,2,1,2,3,3,1
3333,якут_147,2,2,1,2,3,3,1
3334,якут_147,2,2,1,2,3,3,1
3335,якут_21,3,2,1,1,3,3,1
3336,якут_24,3,2,1,1,3,3,1
3337,якут_28,3,2,1,1,3,3,1
3338,якут_43,3,2,1,1,3,3,1
3339,якут_58,3,2,1,1,3,3,1
3340,якут_68,1,2,1,2,3,3,1
3341,якут_78,3,2,1,1,3,3,1
3342,якут_85,3,2,1,1,3,3,1
3343,якутский_46,2,1,1,3,3,3,1

In [189]:
where

,id,Время,Этноним,Логин,Понятно?,Этноним.1,Негатив,Позитив,Конфликт,Поз.взаим.,...,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83
0,9333,10.07.2016 22:58,калмычка,Dasha,yes,one,no,weak,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9333,10.07.2016 22:58,калмычка,Dasha,yes,one,no,weak,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12039,27.07.2016 14:37,кавказец,Oleg Nagornyy,yes,one,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17208,28.07.2016 18:28,сибиряк,Dasha,yes,one,no,weak,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19367,29.07.2016 15:04,жид,yadviga,yes,one,strong,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,19367,29.07.2016 17:01,жид,Dasha,yes,one,weak,no,unk,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21635,25.07.2016 16:27,горец,yadviga,yes,one,weak,weak,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,21635,03.08.2016 15:03,горец,Tatiana,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,22019,15.07.2016 19:05,великоросс,Dasha,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,50023,28.08.2016 0:56,калмык,Tatiana,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,55368,01.07.2016 13:00,татарин,yadviga,yes,several,strong,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,57451,28.07.2016 19:49,русич,Dasha,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,57451,02.08.2016 8:15,русич,Tatiana,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,58073,02.08.2016 22:35,россиянин,Tatiana,yes,several,no,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,61238,15.07.2016 18:41,чеченец,Dasha,yes,one,unk,unk,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,61238,15.07.2016 18:41,чеченец,Dasha,yes,one,unk,unk,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,62040,29.07.2016 14:02,русскоязычный,Oleg Nagornyy,yes,one,strong,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,62855,03.08.2016 15:00,украинка,Tatiana,yes,several,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,65522,23.07.2016 0:58,москаль,salexeeva,yes,one,strong,unk,unk,unk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,65868,28.06.2016 18:18,украинец,salexeeva,yes,several,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,66425,30.06.2016 18:13,славянин,SBodrunova,yes,one,no,weak,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,81359,03.08.2016 12:27,армянин,Oleg Nagornyy,yes,one,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,81359,03.08.2016 15:47,армянин,Tatiana,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,93672,30.06.2016 18:53,таджик,SBodrunova,yes,one,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,93672,24.07.2016 1:07,таджик,Dasha,yes,one,strong,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,93672,01.08.2016 13:45,таджик,Oleg Nagornyy,yes,one,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,101519,01.07.2016 13:40,калмык,yadviga,yes,one,no,strong,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,101899,25.07.2016 16:23,черномазый,yadviga,yes,several,strong,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,101899,25.07.2016 16:30,черномазый,Oleg Nagornyy,yes,one,strong,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,101899,03.08.2016 14:36,черномазый,Tatiana,yes,several,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,чурка_51,30.08.2016 15:32,чурками,Dasha,yes,several,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,чурка_89,24.08.2016 20:00,чурок,Tatiana,yes,several,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,чухонцы_145,30.08.2016 15:26,чухонцев,Dasha,yes,one,weak,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,чухонцы_56,24.08.2016 9:38,чухню,Dasha,yes,one,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,чучмек_103,24.08.2016 19:40,чучмеки,Tatiana,yes,several,strong,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,чучмек_138,20.08.2016 17:51,чучмек,Tatiana,yes,one,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,чучмек_143,24.08.2016 21:16,чучмек,Tatiana,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,чучмек_147,16.08.2016 14:17,чучмека,Dasha,yes,several,unk,unk,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,чучмек_27,24.08.2016 8:37,чучмеков,Dasha,yes,several,weak,no,unk,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,чучмек_68,24.08.2016 21:37,чучмеками,Tatiana,yes,one,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,чучмек_82,30.08.2016 0:23,чучмеков,Tatiana,yes,several,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,чучмек_87,26.08.2016 22:17,чучмеки,Tatiana,yes,one,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,чучмек_92,24.08.2016 19:16,чучмеки,Tatiana,yes,several,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,эвенк_118,20.08.2016 17:11,Эвенка,Tatiana,yes,several,no,weak,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,эвенк_31,20.08.2016 17:03,эвенков,Tatiana,yes,several,weak,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,эвенк_40,24.08.2016 22:04,эвенки,Tatiana,yes,several,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,эрзя_104,10.08.2016 19:37,эрзя,Tatiana,yes,several,weak,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,эрзя_105,30.08.2016 21:03,эрзя,Tatiana,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,эрзя_119,27.08.2016 16:13,эрзя,Tatiana,yes,one,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,эрзя_124,26.08.2016 21:34,эрзян,Tatiana,yes,several,no,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,эрзя_129,24.08.2016 9:50,эрзи,Dasha,yes,several,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,эрзя_139,29.08.2016 20:05,эрзя,Tatiana,yes,several,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,эрзя_42,24.08.2016 8:24,Эрзей,Dasha,yes,one,unk,unk,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,эрзя_70,27.08.2016 20:17,эрзяне,Tatiana,yes,several,no,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,эрзя_79,24.08.2016 19:27,Эрзя,Tatiana,yes,several,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,эстонец_114,24.08.2016 8:25,эстонцы,Dasha,yes,several,no,unk,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025,эстонец_52,04.08.2016 14:14,Эстонец,Oleg Nagornyy,yes,one,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,якут_117,21.08.2016 21:24,якуты,Tatiana,yes,several,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,якут_147,28.08.2016 19:22,якута,Tatiana,yes,several,strong,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,якутский_46,14.08.2016 12:39,народа,Tatiana,yes,one,weak,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN